.ifc-viewer {
    position: relative;
}

.toggle-panel-button {
    margin-left: 10px;
    margin-right: 10px;
}

.zoom-on-click-button {
    margin-left: 10px;
}

.side-panel {
    position: fixed;
    /*left: -25%;*/
    /*right: -25%;*/
    /* Hidden by default */
    width: 25%;
    height: 100%;
    background-color: #ffffff;
    /*transition: right 0.1s ease;*/
    z-index: 999;
    padding: 20px;
    outline: 2px solid #000000;
    /* Add outline */
}

.side-panel.right {
    right: -25%;
    transition: right 0.1s ease;
    /* Show the panel */
}
.side-panel.right.open {
    right: 0;
    /* Show the panel */
}
.side-panel.left {
    left: -25%;
    transition: left 0.1s ease;
    overflow-y: scroll;
    /* Show the panel */
}
.side-panel.left.open {
    left: 0;
    /* Show the panel */
}