.projectListContainer {
  padding: 16px;
  justify-content: center;
  max-height: 85vh;
  overflow-y: auto;
  position: relative;
  z-index: 0;
}

.topRightContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.topRightContainer input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.addButton {
  padding: 8px 16px;
  background-color: #f31b1be3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.addButton:hover{
  background-color: #be1818d2;
}


.title {
  margin-top: 0px;
  margin-right: auto;
  font-size: 24px;
  color: white;
}

.projectsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content:center
}

.consider_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
}

@media screen and (max-width: 1400px){
  .projectsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .consider_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
  }
  }


@media screen and (max-width: 1200px){
  .projectsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .consider_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
  }
  }


@media screen and (max-width: 821px){
.projectsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.consider_grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
  row-gap: 10px;
}
}


@media screen and (max-width: 460px){
  .projectsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .consider_grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 10px;
  }
  }



