.project-site-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  background-color: #F0F0F0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: 10px;
  position: relative;
  transition: background-color 0.3s;
}

.project-site-card.with-checkbox {
  padding-top: 20px;
}

.project-site-card.checked {
  background-color: #ED1D24;
}

.project-site-card .icons-container {
  position: absolute;
  top: 10px;
  display: flex;
  align-items: flex-start; /* Align icons to the top */
  width: 100%;
}

.project-site-card .icons-container .icon-group {
  display: flex;
  flex-direction: column; /* Stack icons vertically */
  align-items: center;
  width: 30px;
}

.project-site-card .trash-icon,
.project-site-card .download-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 3px 3px; /* Adjust margin for spacing between icons */
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
}

.project-site-card .trash-icon i,
.project-site-card .download-icon i {
  color: #ffffff;
}

.project-site-card .checkbox {
  position: absolute;
  top: 10px;
  right: 10px; /* Keep the checkbox in the upper right corner */
}

.project-site-card img {
  max-height: 200px;
  max-width: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.project-site-card .card-text {
  font-weight: bold;
}

.project-site-card .card-text a {
  color: #333333;
  text-decoration: none;
  transition: color 0.3s;
}

.project-site-card .card-text a:hover {
  color: #ff0000;
}

p {
  font-size: 14px;
}
