.project-site {
  overflow-y: auto;
  border-radius: 4px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}


.tab-navigation button {
  border: none;
  background-color: #f2f2f2;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  color: #333; /* Adjust text color */
}

.tab-navigation button.active {
  background-color: #ccc;
  color: #fff; /* Adjust text color */
}

.tab-buttons button {
  border: none;
  padding: 10px 20px;
  color: white;
  background-color: #f31b1be3;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;/* Adjust background color */
}

.tab-buttons button:hover{
  background-color: #be1818d2;
}

.card-grid {
  height: 100vh;
  overflow-y: auto;
  overflow: auto;
  display: inline-flex;
  flex-wrap: wrap;
}

@media screen and (max-height: 1400px){



    .tab-navigation button {
            border: none;
            background-color: #f2f2f2;
            padding: 10px 20px;
            margin-right: 5px;
            margin-bottom: 10px;
            border-radius: 4px;
            cursor: pointer;
    }

    .card-grid {
            max-height: 87vh;
            overflow-y: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
    }

    }

@media screen and (max-height: 1200px){



  .tab-navigation button {
          border: none;
          background-color: #f2f2f2;
          padding: 10px 20px;
          margin-right: 5px;
          margin-bottom: 10px;
          border-radius: 4px;
          cursor: pointer;
  }

  .card-grid {
          max-height: 81vh;
          overflow-y: auto;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
  }

  }

@media screen and (max-height: 1100px){


    .tab-navigation button {
            border: none;
            background-color: #f2f2f2;
            padding: 10px 20px;
            margin-right: 5px;
            margin-bottom: 10px;
            border-radius: 4px;
            cursor: pointer;
    }

    .card-grid {
            max-height: 79vh;
            overflow-y: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
    }

    }

@media screen and (max-height: 950px){

    .button-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
    }

    .tab-navigation button {
          border: none;
          background-color: #f2f2f2;
          padding: 10px 20px;
          margin-right: 5px;
          margin-bottom: 10px;
          border-radius: 4px;
          cursor: pointer;
    }

    .card-grid {
          max-height: 75vh;
          overflow-y: auto;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
    }

    }

@media screen and (max-height: 800px){

  .button-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
  }

  .tab-navigation button {
        border: none;
        background-color: #f2f2f2;
        padding: 10px 20px;
        margin-right: 5px;
        margin-bottom: 10px;
        border-radius: 4px;
        cursor: pointer;
  }

  .card-grid {
        max-height: 71vh;
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
  }

  }


@media screen and (max-height: 667px){

  .button-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .tab-navigation button {
      border: none;
      background-color: #f2f2f2;
      padding: 10px 20px;
      margin-right: 5px;
      margin-bottom: 10px;
      border-radius: 4px;
      cursor: pointer;
  }

  .card-grid {
      max-height: 68vh;
      overflow-y: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }

  }




